.contactpage__background {
  background-image: url(./../../assets/bg3.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  /* background-color: #202426;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
  top: 0;
  /* left: 0; */
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 5.5rem 2.4rem;
  z-index: 9;
  color: #fefefe;
}

.form__container {
  /* align-self: center; */
  margin: 4rem 0;
  position: relative;
  width: 90%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 93%;
}

.input__box {
  font-family: Roboto;
  text-align: center;
  width: 93%;
  box-sizing: border-box;
  padding: 1.1rem 2rem;
  margin: 0.7rem 0;
  border: 1px solid #ec600f;
  border-radius: 2rem;
  box-shadow: 0 2px 2px rgba(180, 180, 180, 0.85);
  font-size: 1.1rem;
  line-height: 1.2rem;
  position: relative;
  z-index: 9;
}

.email__body {
  padding: 1.5rem 2rem;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 93%;
  border-radius: 15px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.contact__btn {
  border: none;
  border-radius: 1rem;
  margin: 2rem 0 4rem 0;
  color: #ec600f;
  font-weight: bold;
  font-family: Roboto;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: auto;
  text-align: center;
  padding: 0.9rem 0.7rem;
  z-index: 9;
  background: url("./../../assets/bg4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Edge */
  overflow-wrap: break-word;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  overflow-wrap: break-word;
}

.input__box::placeholder {
  color: #ec600f;
  font-weight: 500;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.social-icon {
  margin-inline: 9px;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  filter: drop-shadow(0 4px 4px rgba(240, 240, 240, 0.25));
  z-index: 9;
}

.social-icon:hover,
contact-btn:hover {
  filter: drop-shadow(0 8px 8px rgba(240, 240, 240, 0.8));
  cursor: pointer;
  transition: all 0.3s;
}

/* .vector__frame {
  position: fixed;
  z-index: -6;
  left: 0;
  bottom: 0;
  width: 55%;
  z-index: 1;
  opacity: 0.5;
  visibility: hidden;
} */

@media screen and (min-width: 400px) {
  .contact__form {
    width: 80%;
  }
  .social-icon {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .contact__form {
    max-width: 70%;
  }
  .contactpage__background {
    height: auto;
  }
}

@media screen and (min-height: 1080px) {
  .contactpage__background {
    height: 100%;
  }
  .contact__form {
    width: 90%;
  }
}
