.error__page{
    margin-inline: auto;
    background-color: rgb(42, 24, 58);
    color: #FCFCFC;
    text-align: center;
}
.error__page a{
    color: #1bd753;
}
.error__page a:hover{
    color: #c53668;
    font-size: 1.3rem;
}